body{
background-color: aliceblue;


}


div.nav{
    text-align: center;
    border-top: double #B22222;
    border-bottom: double #B22222;
    border-width: 5px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #27332F;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white
}
a:hover{
    color:#B22222
}

ul li{
    list-style-type: none;
    margin: 50px;
    padding: 50px;
    display: inline;
    font-size: 18pt;
  }
img.banner{
    width: 1500px;
    height: 500px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px
}
img.media{
    height:600px;
    width: 450px
}
#artwork .pics{
    height:400px;
    width: 300px;
    transition: all 0.7s ease;
}
#artwork .pics:hover{
    height:500px;
    width: 375px;
    
}
.search {
    display: inline;
    
}
.pimg {
    height: 350px;
    width: 500px;
}

#search {
    margin-top: 50px;
}
.search input[type=text] {
  float: right;
  padding: 6px;
  border: solid black;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
#artwork{
    overflow-x: scroll;
}
#gamePosters .posters:hover {
    height:500px;
    width: 375px;
}
#gamePosters .posters {
    height:400px;
    width: 300px;
    transition: all 0.7s ease;
}
#gamePosters{
    overflow-y: auto;
    overflow-x: scroll;
    
    white-space: nowrap;
   
}

h2 {
    font-weight: bold;
}

#posts {
    margin: 40pt;
}

#videos{
    overflow-x: scroll;
}
.myBox{
    height: 600px; 
    overflow-y:auto;
    background-color: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 3rem;
  text-align: center;
}
li{
    list-style-type: none;
}

.reviewBox{
    width: 1000px;
    height: 425px;
    margin: auto;
    background-color: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 3rem;
  text-align: center;
  overflow-y: auto;
  margin-top: 30px;
}
#reviews{
    overflow-y: scroll;
    height: 850px;
    width: auto;
    padding: 3rem;
    
}

* {
    box-sizing: border-box;
  }
  
  body {
    font: 16px Arial;  
  }
  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  
  input[type=submit] {
    background-color: red;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }